<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Faro</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <body class="has-background-primary">
<!-- Barra de navegación -->
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <!-- Título y logo -->
      <a class="navbar-item" href="#">
        <h1 class="title is-4"></h1>
      </a>
      <!-- Menú -->
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <a class="navbar-item" href="elfaro.html">Inicio</a>
          <a class="navbar-item" href="negocios.html">Negocios</a>
          <a class="navbar-item" href="deportes.html">Deportes</a>
          <a class="navbar-item" href="cultura.html">Cultura</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Título -->
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">El Faro</h1>
    <h2 class="subtitle is-4">El mejor portal de noticias de la región</h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Concepción: delincuentes armados perpetran violento robo a supermercado con público en su interior</h1>
    <div class="columns">
      <div class="column is-two-thirds">
        <p>
          Los antisociales, llegaron en varios vehículos al lugar, donde amenazaron e intimidaron a las personas en el interior del inmueble.
        </p>
        <p>
          Al rededor de 5 antisociales llegaron a un reconocido supermercado ubicado en Valle Noble, región del Bío Bío, premunidos con un alto poder de fuego.

A eso de las 21:40 horas, los sujetos llegaron en varios vehículos al lugar, mientras este aún atendía al público.

Preliminarmente, además de robar objetos desde el supermercado “Antartik”, se llevaron el vehículo del administrador de dicho recinto.

Minutos después del atraco, el administrador del inmueble compartió el siguiente registro de audio, donde evidenciaba además que no había logrado tomar contacto con Carabineros.
        </p>
      </div>
    </div>
  </div>
</section>

</body>
</html>
