<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Faro</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <body class="has-background-primary">
<!-- Barra de navegación -->
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <!-- Título y logo -->
      <a class="navbar-item" href="#">
        <h1 class="title is-4"></h1>
      </a>
      <!-- Menú -->
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <a class="navbar-item" href="elfaro.html">Inicio</a>
          <a class="navbar-item" href="negocios.html">Negocios</a>
          <a class="navbar-item" href="deportes.html">Deportes</a>
          <a class="navbar-item" href="cultura.html">Cultura</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Título -->
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">El Faro</h1>
    <h2 class="subtitle is-4">El mejor portal de noticias de la región</h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="fotos/zapatilla.jpg" alt="Imagen de la Noticia 1">
            </figure>
          </div>
          <div class="card-content">
            <p class="title">El 45% en Chile gasta entre $40.000 y $100.000 en un par de zapatillas según estudio</p>
            <div class="content">
              Un estudio de Activa Research reveló los hábitos y cuánto dinero destinan las personas en Chile para comprar zapatillas, calzado que cada vez es más utilizado.

Al respecto un 63% reconoció que usa "todos los días" zapatillas, mientras que un 95% de las personas mayores de edad en el país las usa con alguna habitualidad.
Sobre la cantidad de dinero invertida en un par de zapatillas, el sondeo manifestó que el 45% está dispuesto a gastar entre $40.000 y $100.000.
Asimismo, el 35% pagaría entre $20.000 y $40.000, mientras que el 16% dijo que gastaría menos de $20.000. 

            </div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="fotos/bc.jpg" alt="Imagen de la Noticia 2">
            </figure>
          </div>
          <div class="card-content">
            <p class="title">Presidenta del BC: “Economía requiere que tasas de interés sigan bajando"</p>
            <div class="content">
              La presidenta del Banco Central, Rossana Costa, afirmó que se la economía chilena necesita que sigan bajando las tasas de interés, por lo cual se extenderá el ciclo de recortes

"Nuestra economía requiere que las tasas de interés sigan bajando", dijo Rossana Costa a Bloomberg en Estados Unidos, según consignó Emol.
Costa se encuentra participando en las reuniones de primavera que realiza el Fondo Monetario Internacional, donde adelantó las decisiones que podría tomar el Banco Central.
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="fotos/sii.jpeg" alt="Imagen de la Noticia 3">
            </figure>
          </div>
          <div class="card-content">
            <p class="title">Chilenos con cuentas en el exterior acumulan más de US$23 mil millones: SII los detecta e inicia fiscalización</p>
            <div class="content">
              Durante la jornada de este lunes, el Servicio de Impuestos Internos, identificó a 676 contribuyentes con cuentas en el exterior, que forman parte del grupo con mayor impacto en el sistema tributario, con cuentas por un total de US$23.009 millones, lo que equivale a $19,6 billones. 

Mediante un comunicado, la entidad detalló que a los 676 contribuyentes se les avisó de manera preventiva las cuentas que tienen en el extranjero con el fin de asegurar su correcta declaración de ingresos que corresponda, ya sean fuente nacional o extranjera.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>