<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Faro</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <body class="has-background-primary">
<!-- Barra de navegación -->
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <!-- Título y logo -->
      <a class="navbar-item" href="#">
        <h1 class="title is-4"></h1>
      </a>
      <!-- Menú -->
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <a class="navbar-item" href="elfaro.html">Inicio</a>
          <a class="navbar-item" href="negocios.html">Negocios</a>
          <a class="navbar-item" href="deportes.html">Deportes</a>
          <a class="navbar-item" href="cultura.html">Cultura</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Título -->
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">El Faro</h1>
    <h2 class="subtitle is-4">El mejor portal de noticias de la región</h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Revelan nombres y negocios que incluye informe de Bullrich sobre presencia de Hezbolá en Chile</h1>
    <div class="columns">
      <div class="column is-two-thirds">
        <p>
        La ministra argentina, Patricia Bullrich, le entregó un contundente informe a la ministra Tohá, donde se detallan la presencia del grupo Hezbolá en Chile y otros países vecinos.
        </p>
        <p>
          Este jueves se revelaron detalles del informe que la ministra de Seguridad de Argentina, Patricia Bullrich, le entregó a la ministra del Interior, Carolina Tohá, respecto a la presencia de Hezbolá en la región.

Recordemos que la autoridad trasandina aseguró que en el norte, específicamente en Iquique, hay presencia de la organización terrorista. Luego se disculpó e incluso llamó a Tohá.

Ahora, en el marco de Enade 2024, las ministras se reunieron y abordaron el tema. Sobre eso, la titular de Interior dijo que el encuentro con Bullrich fue “positivo”.

En tanto, El Clarín tuvo acceso al documento de 14 páginas, el cual señala 
que “se puede identificar la actividad de Hezbolá en el área de la Triple Frontera entre Argentina, Brasil y Paraguay, con centro neural en Ciudad del Este. Este eje habría ido rotando o al menos se ha diversificado. Hoy se toma en cuenta también la “triple frontera Andina” conformada por Chile, Perú y Bolivia; y la “triple frontera marítima” 
compuesta por los puntos de Colón (Panamá), Maicao (Colombia) y Punto Fijo (Venezuela)”.
El informe también indica que hay “indicios” de que “tanto Irán” por su “injerencia político comercial” como el grupo Hezbolá, a través de “actividades ilícitas”, “han aumentado su capacidad de acción en distintos puntos estratégicos de Latinoamérica”, citando casos en Chile, Bolivia, Paraguay, Brasil y Colombia.

Fue el 15 de abril pasado cuando Bullrich dijo en entrevista con Todo Noticias que Hezbolá está presente en la frontera entre Paraguay, Brasil y Argentina, añadiendo que “en el último tiempo” se ha reportado su presencia en Iquique, región de Tarapacá.

Clan Barakat
Otros datos que se extraen del documento tienen relación con la presencia del clan Barakat en los países de la región. Uno de ellos, Hatem Ahmad Barakat, fue designado por Estados Unidos, presunto financista de Hezbolá, que fue vinculado con el atentado terrorista a la AMIA de 1994.

Aquí se comenta que Barakat “viajó a Chile para recolectar fondos destinados a Hezbolá, y a principios de 2003 se informó que era un accionista importante en al menos dos negocios en Iquique, Chile”.

Añadiendo que su hijo, Ali Hatem Barakat, residiría legalmente en el país trasandino con el número de RUT 22735459-3 (documento), pese a registrársele en Fox do Iguaçu.

Incluso, según el informe, la hermana de Hatem Ali, Maysaa, viviría también en Iquique, revelando que en Chile, Alí “fue dueño de dos negocios: Importadora Dakotas Limitada e Importadora y Exportadora Montreal Limitada hasta junio de 2015, cuando liquidó ambos”.
También informa que durante su mandato en ambas empresas, su copropietario era un hombre llamado Ahmad Droubi. “A través de Droubi, se pudo identificar otra red de contactos simpatizantes con Hezbolá, del clan Rachid, que residirían en Santiago y Arica”, detalla el documento.

Se apunta a un afincamiento de estos grupos, especialmente en Iquique, a través de empresas de importación y exportación, “que servirían como organizaciones fachadas o empresas fantasmas”, como Saleh Trading Ltd.

E incluso a través de Barakat Import Export Ltda., donde “habrían desarrollado operaciones de blanqueo de capitales para financiar al grupo extremista”, según detalla el informe de Bullrich a Tohá.

Así también revela actividades empresariales de Barakat en Venezuela y Paraguay.

Informe de Bullrich a Tohá
El escrito dado a conocer por Bullrich menciona que en 2014, en el llamado caso Abbas, se identificó al ciudadano Alí Chahine, con pasaporte estadounidense y libanés, en territorio. “De acuerdo a la misma fuente, Chahine sería parte del brazo armado del Hezbolá”, indica el texto.

En esta línea, el 5 de mayo de 2014, luego de ingresar a Chile por el aeropuerto internacional Arturo Merino Benítez, se trasladó hacia la ciudad de Arica. Estuvo unos días ahí, y luego viajó a Bolivia por tierra para regresar el 14 de mayo.

“Allí se habría reunido con dos ciudadanos libaneses de apellido Abbas. El 18 de mayo abandonó Chile con destino a Estados Unidos. El informe profundiza en un punto delicado. Se sospecha que, en La Paz, mantenía un depósito con explosivos a ser utilizado contra objetivos israelíes. No se pudo determinar el paradero de Chahine, pero se habría evitado que se llevara a cabo un atentado a un hostal en La Paz”, remarca el documento.

Presuntas redes de Hezbolá en Chile
En el texto se dan a conocer sospechas en cuanto a las presuntas redes de Hezbolá en Chile con un avión de la aerolínea iraní Maham Air, operado por la empresa venezolana Conviasa, que realizó al menos cinco vuelos entre Caracas y Santiago.

Maham Air, es la misma compañía del Boeing decomisado en Argentina a Emtrasur Cargo y enviado a Estados Unidos desde Ezeiza, en febrero pasado, y está sancionada por Estados Unidos. En este último país la acusan de transportar armas, personal, recursos y equipos de organizaciones terroristas como Hezbolá y Fuerzas Quds. En esa aeronave, la que operaba con Chile, el presidente venezolano Nicolás Maduro viajó a Teherán en 2022.

En tanto, dentro del documento se habla del acuerdo de julio 2023 entre los ministros de Defensa de la República Islámica de Irán y Bolivia (Brigadier General Mohammad-Reza Gharaei Ahistiani y Edmundo Novillo, respectivamente).

En concreto, el primero se comprometió a vender “tecnología avanzada” para “control fronterizo” y “combate al tráfico de drogas”. Todo esto en las fronteras de Chile y Argentina.

Este acuerdo contempla construcción y provisión de drones de reconocimiento para controlar la geografía fronteriza boliviana; barcos patrulleros para control del narcotráfico y el contrabando en lagos y ríos. Incluye además un sistema de protección para evitar la penetración o hackeo de información e intercambios académicos en la temática de seguridad y defensa.

Terrorismo
Hace días que Bullrich había confirmado que cuando visitara nuestro país, llevaría “la información que tenemos en mano de manera confidencial”, afirmando que “se la vamos a dar a la ministra (Tohá) y ellos evaluarán si les parece que es una información a valorar o no”.

En este sentido, el informe entrega datos del grupo Hezbolá vinculados al terrorismo, especificando casos, nombres y paraderos.

Aquí aparece el nombre de Eduardo Rubén Assad, alias Sheik Suhail Assad, en Chile. Lo describen como argentino, nacido en 1975 y como “discípulo de Mohsen Rabbani”, uno de los iraníes acusados como responsables del ataque a la AMIA y con alerta roja de Interpol. Assad está registrado en la base de datos GEMS del Terrorist Screening Center del FBI.

En Santiago, Assad habría estado relacionado con el Centro Islámico de Chile, en Las Condes, desde principios de los 2000, hasta mediados de la década pasada.

Para los informes argentinos estaría “íntimamente vinculado a los servicios de inteligencia de Teherán y a los Cuerpos de la Guardia Revolucionaria Islámica”. Y en realidad “viviría en Irán y el Líbano”. Algunas fuentes lo tildan como “el organizador de una red de apoyo y reclutamiento por cuenta de Hezbolá en América Latina”.

Assad tiene al menos 9 entradas a nuestro país desde Argentina desde 2006 hasta 2020.
        </p>
      </div>
    </div>
  </div>
</section>

</body>
</html>
